@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  font-family: "Nanum Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}
.header {
  background-color: #d4f0f0;
  height: 200px;
}
.profilecard-img {
  border-radius: 70%;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-top: -100px;
  margin-left: 50px;
}

.informationBox {
    background-color: white;
}

.information {
  margin-left: 360px;
  margin-top: -180px;
  height: 200px;
  padding: 10px;
}

.profilecard {
  object-fit: cover;
}

.bth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.bth button {
    background: none;
    border: none;
    padding: 0;
}

.bth img {
    width: 60px;
    height: 60px;
}

.cards {
  height: 100%;
  margin-top: 30px;
  background-color: #d4f0f0;
  padding: 20px 0;
}

#name {
  font-size: 70px;
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#english-name {
  font-size: 20px;
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#blog,
#git {
  text-align: right;
  margin-right: 20px;
  margin-top: -30px;
}

#blog a img {
    width: 30px;
    height: 30px;
}

#git a img {
    width: 30px;
    height: 30px;
}

.good-bad,
.mbti, .hobby, .goals, .comment {
  width: 750px;
  height: 300px;
  background-color: white;
  border: 5px solid white;
  border-radius: 50px;
  margin: 0 auto;
  color: black;
}

#card {
  display: none;
}

#card-case {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 이미지를 찌그러트리지않고 자르기만 하는 것 */
.hobby #card-image {
  object-fit: cover;
  border-radius: 30%;
}

#card-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 20px 10px 20px 20px;
}

#card-body {
  flex: 1;
  text-align: left;
  padding: 10px;
  margin-top: 20px;
} 

#card-title {
  font-size: 30px;
}

#card-text {
  font-size: 18px;
}


.Url {

    text-decoration-line: none;

    background-color: transparent;
    margin: 20px auto 20px auto;

    position: fixed;
    top: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card1>img, .card2>img {
    width: 50px;
    height: 50px;
    
}

.c {
    margin-left: -150px;
}

.d {
    margin-left: 1200px;
}

.card2 img {
    position: fixed;  /* 화면에 고정 */
}

.card1, .card2 {
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.col {
    background-color: transparent;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}